/* Nav */
.navbar { 
	background-color:#1E232A; 
	border-radius:0px;
	border-color: #1E232A;
/*
	background-color: transparent;
	border-color: transparent;	*/
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #555;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}



  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }


/*
.navbar-collapse .navbar {
	height:80px;height:50px;
}


.categories {background-color:blue; height:100vh; }
footer { background-color: #000000; }

.oswald{font-family: 'Oswald', sans-serif;}*/

.intro { background-color:red; height:100vh; }

.container-fluid {
	/*padding: 0px;*/
}

.news-ticker{
	display:none;
	height:80px;
	background-color:#f9ec10;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	color:#000;
	text-align:center;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.logo {
	margin-top:-15px;
	background-color: transparent;
	height:50px;
	width:100px;
}



/* Extra small viewport or screen */
@media only screen and (min-width : 480px) {

}
/* Small viewport or screen */
@media only screen and (min-width : 768px) {
	.news-ticker{
		display:block;
	}
}
/* Medium viewport or screen */
@media only screen and (min-width : 992px) {
	.news-ticker{
		display:block;
	}
}
/* Large viewport or screen */
@media only screen and (min-width : 1200px) {
	.news-ticker{
		display:block;
	}
}