/* General */
@font-face {
	font-family: 'nlicons';
	src:url('../fonts/nlicons/nlicons.eot');
	src:url('../fonts/nlicons/nlicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nlicons/nlicons.woff') format('woff'),
	url('../fonts/nlicons/nlicons.ttf') format('truetype'),
	url('../fonts/nlicons/nlicons.svg#nlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Open Sans', sans-serif; background: #EBEBEB;
}

.fixed-navbar{	
	padding-top: 70px; 
}


h1,h2,h3,h4,h5,h6{
	margin:0px 0 20px 0;
	font-family: 'Oswald', sans-serif; background: #EBEBEB;
	text-transform: uppercase;
	background:transparent;
}

h1 {font-size:80px;}

.white-bg {
	background:#fff;
}

a, a:focus, a:hover, a:visited,a:active  {
	text-decoration: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid {
    /*padding-right: 0px;
    padding-left: 0px;*/
}
.container {
	padding: 20px;
}


/* News ticker */
.news-ticker-container{
	display:none;
	padding:0;
	margin:0;
	height:80px;
	background-color:#F9EC10;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:15px;
	color:#000;
	text-align:center;
}

.news-ticker-container .name {
	position:relative;
	top:22px;
}

.btn-buy {
	border-radius: 28px;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	color: #000;
	background: #f9ec10;
	padding: 3.5px 6px 3px 6px;
	border: solid #000000 3px;
	text-decoration: none;
	position:relative;
	font-size: 15px;
	color: #000;
	background: #f9ec10;
	top:-5px;
	text-decoration: none;
	margin-left:10px;
}
.btn-buy a {color:#000;}

.btn-buy:hover {
	background: #000000;
	color:#fff;
	text-decoration: none;
}
.btn-buy:active, .btn-buy:visited, .btn-buy:link, .btn-buy:active{
	text-decoration: none;
}

/* Navigation Bar */
.logo {
	margin-top:-15px;
	background-color: transparent;
	height:50px;
	width:100px;
}

.navbar { 
	border-radius:0px;
	margin-bottom: 0;
	background-color:#1e232a; 
	border-color: #1e232a;
	z-index: 1000;
}



.navbar-default .navbar-toggle {
	border-color: transparent; 
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #555;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color:#fff;
	background: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.navbar-nav > li > .dropdown-menu {
	background: rgba(255, 255, 255, 0.3);
}

.dropdown-menu > li > a {
	display: block;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;   
	background: rgba(255, 255, 255, 0.3);
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #fff;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.3);
}

.affix {
	top: 0;
	width: 100%;
	transition: background-color 0.9s ease;
	background-color:#1E232A;     
	border-color: #1E232A;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.search-responsive { display:block; }

.search-not-responsive {display:none;}

/* Hero*/
.hero-home { 
	/*background-image: url("../images/page/hero_1920px.jpg");*/
	background-size: cover; 
	height: calc(100vh - 80px); 
	text-align: center;background-position: center top;
	color:#fff;
}

.hero { 
	/*background-image: url("../images/page/hero_1920px.jpg");*/
	background-size: cover; 
	height: calc(100vh - 300px); 
	/*height:600px;*/
	text-align: center;
	background-position: center top;
	color:#fff;
}

/* Events Home*/
.category-title, .list-events-title {
	display:none;
	padding:10px 0px;
	background-color:#fff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	color:#000;
	text-align:center;

}

.list-events-title {
	display:block;
}

.event {
	/*padding-top:20px;*/
}

.events {
	height:100%;
	overflow-y: hidden;
}

.event-home {
	position:relative;
	border-bottom: 6px solid #44a5ec;
}

.event-home .details {
	position: absolute;
	width:100%;
	bottom: 0px;
	padding:15px 15px 10px 15px;	
	background: linear-gradient(to top,#000,#000 10%,transparent 80%);
}

.event-home .details ul {
	list-style:none; 
	margin-left:-40px;
}

.event-home .details ul li{
	color: #fff;
	line-height: 170%;
	text-shadow: 1px 1px 1px #000000;
}

.event-home .details ul li.artist a{
	font-size: 20px;
	color:#fff;
	line-height: 70%;
}
.event-home .details ul li.artist a:hover, .event-home .details ul li.artist a:active, .event-home .details ul li.artist a:visited {
	text-decoration:none;
}
.event-home .details ul li.venue a {
	color: #44a5ec;
}
.event-home .details ul li.venue a:hover, .event-home .details ul li.venue a:active, .event-home .details ul li.venue a:visited {
	text-decoration:none;
}
.event-home .details ul li.date a {
	text-transform: uppercase;
	color: #fff;
}
.event-home .details ul li.date a:hover, .event-home .details ul li.date a:active,  .event-home .details ul li.date a:visited {
	text-transform: uppercase;
	text-decoration:none;
}
/* Events */
.event-title {
	position:relative;
	margin: 0 auto;
	/*padding: 2em;*/
	padding:100px 15px 0 15px;
/*		background: red;
max-width: 320px;*/
}

.event {
	display:block;
	margin-bottom: 30px;
	/*padding:15px;*/
}

.event .month-date {
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	margin-top:20px;
}

.event .header {
	background-color: #1E232A;
	padding:15px;
	color:#fff;

}

.event .block {
	display:block;
	background: #fff;
	/*padding: 25px 15px 15px 15px;*/
	padding:15px;
	border-bottom: solid 1px #EBEBEB;
}

.event .block .column{
	padding: 0 15px;
}

.event .block .no-of-tickets{
	padding: 0 15px;
}
.event .block .price-tier{
	padding: 0 15px;
}
.event .block .result-row-buy{
	padding: 0 15px;
}

.column .btn-buy {
	font-family: 'Oswald', sans-serif;
	background: #fff;
	padding: 5px 15px;
	text-transform: uppercase;
}
.column .btn-buy:hover {
	background:#F9EC10; 
	color:#000;
	border-color: #F9EC10;
}

/* Pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: #555;
	border-color: #1e232a;
}

.pagination > li > a, .pagination > li > span {
	color: #1e232a;	
}

.form.bottom {
	padding-bottom:20px;
	background: green;
}


/* Form */
.error-submit{
	color: #a94442;
}

.facebook {
	background-color: #597ac7;
	padding:20px;
	color:#fff;
	margin-bottom: 20px;

}

.twitter {
	background-color: #5bbcec;
	padding:20px;
	color:#fff;
	/*margin-bottom:10px;*/
}

.google {
	background-color: #dd4a38;
	padding:20px;
	color:#fff;
	/*margin-bottom:10px;*/
}


img.shareico {
	/*margin-bottom: -5px;*/
	/*margin-right: 4px;*/
	border: 0;
}

.sociallogin {
	width: 190px;
	height: 30px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #FFFFFF;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	display: block;
	margin-bottom: 4px;
}
.sociallogin:hover {color:#fff;}
.btn-info {
	color: #fff;
	background-color: #1e232a;
	border-color: #1e232a;
}
.btn-info:hover {
	color: #fff;
	background-color: #555;
	border-color: #1e232a;
}

/**/
.main-login {

	max-width: 320px;
	margin: 0 auto;
	padding:200px 0 500px 0;

}
.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/* Footer */
.footer { 
	text-align: center; 
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	color:#fff;
	background-color: #000;
	padding: 10px 0px 20px 0px;
}
.footer .menu ul { list-style: none; margin-bottom: 0px; margin:0 0 0 -40px; }
.footer .menu ul li { display: inline; padding: 0 6px 0 6px; text-transform: uppercase;}
.footer .menu ul li a {text-decoration:none; color:#555;}
.footer .menu ul li a:hover {color:#fff;}
.footer .copyright { background:#000; height:10px;}
.footer .copyright p {font-family: 'Open Sans', sans-serif; color:#555;font-size:8.5px;padding:5px 0 0 0;margin: 0px;}


/* Extra small viewport or screen */
@media only screen and (min-width : 480px) {
	.news-ticker-container{

		display:none;
	}
	.navbar { 
		background-color:#1E232A; 
		border-color: #1E232A;
	}
	.affix {
		top: 0;
		width: 100%;
		transition: background-color 0.9s ease;
		background-color:#1E232A;     
		border-color: #1E232A;
	}
	.affix + .container-fluid {
		padding-top: 70px;
	}	
	.affix + .container {
		padding-top: 70px;
	}		
	.hero {}	
	.list-events-title { display:block;}
	.home-search{
		max-width: 50em;
	}

}
/* Small viewport or screen */
@media only screen and (min-width : 768px) {
	.news-ticker-container{
		font-size:25px;
	}
	.navbar { 
		background-color:#1e232a; 
		border-color: #1e232a;
	}
	.affix {
		top: 0;
		width: 100%;
		transition: background-color 0.9s ease;
		background-color:#1E232A;     
		border-color: #1E232A;
	}
	.affix + .container-fluid {
		padding-top: 70px;
	}	
	.affix + .container {
		padding-top: 70px;
	}			
	.hero { 
		height:calc(100vh-80px);
	}
	.home-search{
		max-width: 50em;
	}
	.list-events-title { display:block;}	



}
/* Medium viewport or screen */
@media only screen and (min-width : 992px) {
	.news-ticker-container{
		display:block;		
		font-size:25px;
	}
	.navbar { 
		background-color:transparent; 
		border-color: transparent;
	}

	.navbar-fixed-top {	
		background-color:#1e232a; 
	}
	.affix {
		top: 0;
		width: 100%;
		transition: background-color 0.9s ease;
		background-color:#1E232A;     
		border-color: #1E232A;
	}
	.affix + .container-fluid {
		padding-top: 70px;
	}
	.affix + .container {
		padding-top: 70px;
	}

	.list-events-title { display:none;}	
	.category-title {display:block;}
	.events { 	height: calc(100vh - 170px); overflow-y: scroll; }
	.home-search{
		max-width: 50em;
	}
	.event .header {
		font-size: 20px;		
	}	
	.event .block {
		font-size: 20px;
	}		
	.event .block .no-of-tickets{
		display:inline;
	}
	.event .block .price-tier{
		display:inline;
	}
	.event .block .result-row-buy{
		display:inline;
	}
}
/* Large viewport or screen */
@media only screen and (min-width : 1200px) {
	.news-ticker-container{
		display:block;		
		font-size:25px;		

	}	
	.navbar { 
		/*background-color:transparent; 
		border-color: transparent;*/
	}
	.affix {
		top: 0;
		width: 100%;
		transition: background-color 0.9s ease;
		background-color:#1E232A;     
		border-color: #1E232A;
	}
	.affix + .container-fluid {
		padding-top: 70px;
	}
	.affix + .container {
		padding-top: 70px;
	}		

	.home-search{
		max-width: 50em;
	}
	.event .header {
		font-size: 20px;		
	}
	.event .block {
		font-size: 20px;
	}	
	.event .block .no-of-tickets{
		display:inline;
	}
	.event .block .price-tier{
		display:inline;
	}
	.event .block .result-row-buy{
		display:inline;
	}
}

/*

body {
  min-height: 2000px;
  padding-top: 70px;
}
*/